  <%= link_to "Post New Post", new_post_path %>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %> </h2>

  <p> Published at: </p>
  <p> <%= time_ago_in_words(post.created_at) %> </p>
  <p> by
    <%= post.user.email %>
    <%= post.user.id %>
 </p>
  <% end %>

  <%= link_to "Post New Post", new_post_path %>
